main {
    width: 1200px;
    height: 160vh;
}


h2 {
    text-align: center;
}

.pizzasalgada {
    width: 50%;
    float: left;

}

.pizzadoce {
    width: 50%;
    float: right;

}

#idezaum {
    margin-left: 40px;
    width: 300px;
}

.idzaum > p{
    text-align: center;

}

.carda {
    width: 600px;
    height: 200px;
    border-top: 2px;
    border-left: 2px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

.imgcarda {

    width: 150px;

}

.quadradinho{
    width: 200px;
    margin: 0px;
    padding: 0px;
    float: left;
}

.carda > p {
    width: 340px;
    float: right;
    margin-right: 40px;
    line-height: 30px;
}

